/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

.label{
    overflow: hidden;
    text-overflow: ellipsis;
}

marker-base{
    position:absolute;
}

.redrawn-path{
    position:absolute;

}

