
/*
 * Table
 */
table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

table.dataTable thead tr th {
	padding: 3px 18px 3px 10px;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
	color: #FFF;
	background: #777;
	white-space: nowrap;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td {
	padding: 3px 10px;
	border: 1px solid #EBEBEB;
	background-color: inherit;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

/*
 * Rows coloring
 */
table.dataTable tr.selected td { background-color: #fffba4; }

table.dataTable tr.odd { background-color: white; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #A9C7E0; }
table.dataTable tr.odd td.sorting_2 { background-color: #A9C7E0; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }

table.dataTable tr.even td.sorting_1 { background-color: #A9C7E0; }
table.dataTable tr.even td.sorting_2 { background-color: #A9C7E0; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }


/*
 * Table wrapper
 */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}


/*
 * Page length menu
 */
.dataTables_length {
	float: left;
}


/*
 * Filter
 */
.dataTables_filter {
	float: left;
	text-align: right;
	margin: 0px 0px 5px 0px;
}

/*
 * Table information
 */
.dataTables_info {
	clear: both;
	float: left;
}

/*
 * Pagination
 */
.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius 3px;
	padding: 2px 5px;
	margin: 0 1px;
	cursor: pointer;
	*cursor: hand;
	color: #FFF !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #555544;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #5D96C5;
}

.paging_full_numbers a.paginate_active:hover {
	background-color: #ccc;
}

.paging_full_numbers a.first { 
	
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */
.sorting { background: url('images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }
 
table.dataTable th:active {
	outline: none;
}


/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}



/*
 * MultiSelect Plugin
 */
.dataTables_settings {
	float: right;
	width: auto;
}

.ui-multiselect { padding:0px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }




