.hpaSummaryFeatures_antibodyTitle {
	font-size:120%;
	font-weight:bold;
	border-bottom:#808080 solid 1px;
	margin-bottom:4px;
	margin-top:4px;
}

.hpaSummaryFeatures_summary {
	margin-bottom:10px;
}

