@CHARSET "UTF-8";

div.ChEBICompound {
	padding: 0px;
	overflow: hidden;
}

div.ChEBICompound_image {
	position: relative;
	float: right;
	width: 65%;
	height:  100%;
}

div.ChEBICompound_summary {
	border: solid silver 1px;
	margin: 0;
	padding: 5px;
	width:  30%;
	height:  100%;
	position:relative;
	float: left;
	font-family: "Heveltica Neue", Arial, "sans serif";
	font-size: 12px;
	background: #EEF5F5;
	color: #066
}

div.ChEBICompound_summary h2 {
	font-weight: 600;
	margin: 0;
	padding-top: 5px;
}

div.ChEBICompound_summary p {
  	text-align: left;
  	font-style: italic;
  	text-indent: 0;
  	line-height: 1.2;
}

div.ChEBICompound_summary div.star {
	background-image: url('Rocky32px/star_yellow.png');
	background-size: 16px 16px;
	background-repeat: repeat-x;
	width: 16px;
	height: 16px;
}

div.ChEBICompound_summary div:hover.collapse, div:hover.expand {
	background-image: url('Rocky32px/iconset_hover.png');
}

div.ChEBICompound_summary div.collapse, div.expand {
	background-image: url('Rocky32px/iconset.png');
}

/*div.ChEBICompound_summary div:hover.collapse {
	background: url('Rocky32px/iconset_hover.png') no-repeat right -24px;
}*/

div.ChEBICompound_summary div.collapse { background-position: 0 0; }
div.ChEBICompound_summary div.expand { background-position: 0 -24px; }

div.ChEBICompound_summary div.toggle {
	width: 24px;
	height: 24px;
}



