body{
    margin: 10px;
}

pre{
    background-color: transparent;
    border: 0px;
}

.hljs {
    white-space: pre-wrap;
}

.source-code, .live-preview{
    float: left;
    width: 50%;
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.row:before, .row:after{
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}


h3, .h3 {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.qtext{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.h-anchor {
    color: grey;
    font-size: 20px;
    text-decoration: none;
}
