<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		<meta name="generator" content="BioJS Library" />
		{! Link.base = "../"; /* all generated links will be relative to this */ !}
		<title>Biojs {+data.name+} Registry</title>

		<link rel="stylesheet" type="text/css" href="style/style.css" />
		<link href="style/shThemeDefault.css" rel="stylesheet" type="text/css" />
		<link href="style/shCore.css" rel="stylesheet" type="text/css" />
		
		<script language="JavaScript" type="text/javascript" src="scripts/jquery-1.6.4.min.js"></script>
		<script src="scripts/shCore.js" type="text/javascript"></script>
		<script src="scripts/shBrushJScript.js" type="text/javascript"></script>
		
		<script language="JavaScript" type="text/javascript">
		  	SyntaxHighlighter.all();
		</script>
		
	</head>

	<body>
	<div id="main">
<!-- ============================== header ================================= -->	

	<div id="header">
      <div id="logo">
        <h1>Bio<span class="alternate_colour">Js</span> {+data.name+}</h1>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="{+data.alias+}.html">Overview</a></li>
          <li><a href="{+data.alias+}.options.html">Options</a></li>
          <li><a href="{+data.alias+}.events.html">Events</a></li>
          <li class="tab_selected"><a href="{+data.alias+}.methods.html">Methods</a></li>
        </ul>
      </div>
    </div>

<!-- ============================== site content ============================ -->	
	
	<div id="site_content">

	<div id="content"> 
    	<div class="accordion">

	    <if test="data.methods.length">
			{! var ownMethods = data.methods.filter(function($){return $.memberOf == data.alias  && !$.isNamespace}).sort(makeSortby("name")); !}
		    <if test="ownMethods.length">
				<for each="member" in="ownMethods">
				
				<if test="member.name != 'constructor'">
					<h3 class="method_name"><a href="#"><b>{+member.name+}</b></a></h3>
					<div class="method_desc"> <!-------------- Begin of method -->
					
						{+resolveLinks(member.desc)+}<br/>
						<if test="member.srcFile != data.srcFile">
						<br />
							<i>Defined in: </i> {+new Link().toSrc(member.srcFile)+}.
						</if>
						
						<if test="member.author"><br /><i>Author: </i>{+member.author+}.</if>
					
					
						<if test="member.params.length">
							<br/>
							<b>Parameters:</b>
							<ul>
							<for each="item" in="member.params">
								<li>
									{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+}<b>{+item.name+}</b>
									<if test="item.isOptional"><i>Optional<if test="item.defaultValue">, Default: {+item.defaultValue+}</if></i></if>
									<br/>{+resolveLinks(item.desc)+}
								</li>
							</for>
							</ul>
						</if>
					
						<if test="member.example.length">
							{! var i = 0; !}
							<for each="example" in="member.example">
							   {! var counter = (member.example.length > 1)? (++i) : ""; !}
							   <br/>
							   <b>Example {+counter+}:</b>
							   <pre class="brush: js">{+example+}</pre>
							</for>
						</if>
						
						<if test="member.deprecated">
							<dl class="detailList">
							<dt class="heading">Deprecated:</dt>
							<dt>
								{+ resolveLinks(member.deprecated) +}
							</dt>
							</dl>
						</if>
						<if test="member.since">
							<dl class="detailList">
							<dt class="heading">Since:</dt>
								<dd>{+ member.since +}</dd>
							</dl>
							</dl>
						</if>
						<if test="member.exceptions.length">
							<dl class="detailList">
							<dt class="heading">Throws:</dt>
							<for each="item" in="member.exceptions">
								<dt>
									{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+} <b>{+item.name+}</b>
								</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.returns.length">
							<dl class="detailList">
							<dt class="heading">Returns:</dt>
							<for each="item" in="member.returns">
								<dd>{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+}{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.requires.length">
							<dl class="detailList">
							<dt class="heading">Requires:</dt>
							<for each="item" in="member.requires">
								<dd>{+ resolveLinks(item) +}</dd>
							</for>
							</dl>
						</if>
						<if test="member.see.length">
							<dl class="detailList">
							<dt class="heading">See:</dt>
							<for each="item" in="member.see">
								<dd>{+ new Link().toSymbol(item) +}</dd>
							</for>
							</dl>
						</if>
					</div>	<!------------------- End of method -->
				</if>
				</for>
		     </if>
		  </if>
    	</div>	
	</div>	
	
	
</div>

<!-- ============================== footer ======================================= -->
    <br/>
	<div style="text-align: center; font-size: 0.75em;">
		Registry generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
	</div>
	<br/>
	<br/>
	
</body>
</html>
