<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		<meta name="generator" content="BioJS Library" />
		{! Link.base = "../"; /* all generated links will be relative to this */ !}
		<title>Biojs Library Registry</title>

		<link rel="stylesheet" type="text/css" href="style/style.css" />
		<link href="style/shThemeDefault.css" rel="stylesheet" type="text/css" />
		<link href="style/shCore.css" rel="stylesheet" type="text/css" />
		
		<script language="JavaScript" type="text/javascript" src="scripts/jquery-1.6.4.min.js"></script>
		<script src="scripts/shCore.js" type="text/javascript"></script>
		<script src="scripts/shBrushJScript.js" type="text/javascript"></script>
		
		<script language="JavaScript" type="text/javascript">
		  	SyntaxHighlighter.all();
		</script>
		
	</head>

	<body>
	<div id="main">
<!-- ============================== header ================================= -->	

	<div id="header">
      <div id="logo">
        <h1>Bio<span class="alternate_colour">Js</span> Library</h1>
      </div>
    </div>

<!-- ============================== site content ============================ -->	
	
	<div id="site_content">

<!-- ============================== side bar ============================ -->	
	
	<div class="sidebar">
		<h1 class="classTitle">Showcase:</h1>
		<ul>	
			<for each="thisClass" in="data">
				<li><a href="{+thisClass.alias+}.html">{+thisClass.name+}</a></li>
			</for>
		</ul>		
	</div>

<!-- ============================== component content ============================ -->

	<div id="content"> 

	<p>A Javascript library of web components to represent biological data with a common baseline to create, maintain, 
	develop, reuse, extend and integrate web components into web applications. Different libraries can be combined to provide one component with options, methods and events.</p>
	
	<img width="500px" src="style/example.png" />
	
	<h1 class="classTitle">Biojs Resources</h1>
	<ul>
		<li><a href="https://docs.google.com/document/d/1Uk4-hBT5YSGGs91FVNvZPQ15QBihivKzYusBJ2GVNn8/edit?hl=en_US">How to create a new component.</a></li>
		<li><a href="https://docs.google.com/document/d/1HKwAr8bIqqGklAiAmDoAshzbZrIYs8Q8mbrSDHobudg/edit?hl=en_US">How to document a component.</a></li>
		<li><a href="https://docs.google.com/document/d/1gG036Bvwl4i-KX5BTHddGzeE_5eospL-864BrnsAS_s/edit?hl=en_US">Reference Specification</a></li>
		<li><a href="../jsdoc/index.html">JsDoc</a></li>
	</ul>
	</div>	
	
	
</div>

<!-- ============================== footer ======================================= -->
    <br/>
	<div style="text-align: center; font-size: 0.75em;">
		Registry generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
	</div>
	<br/>
	<br/>
	
</body>
</html>
