<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
        <meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		<meta name="generator" content="BioJS Library" name="author" value="John Gomez Carvajal <johncar@gmail.com>" />
		{! Link.base = "../"; /* all generated links will be relative to this */ !}
		
        <title>BioJs: JavaScript components for biological data < EMBL-EBI</title>
        
        <meta content="width=device-width,initial-scale=1" name="viewport" />
            
        <!-- EBI's style sheets -->
        <link href="style/normalize.css" rel="stylesheet" />
        <link href="style/boilerplate-style.css" rel="stylesheet" />
        <link href="style/ebi-custom.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="style/984-24-col-fixed.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="style/ebi-positioning.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="style/biojs.css" rel="stylesheet" type="text/css" />
        <link href="style/biojs-colours_blue.css" rel="stylesheet" type="text/css" />
        
		<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="scripts/shCore.js" type="text/javascript"></script>
		<script src="scripts/shBrushJScript.js" type="text/javascript"></script>
		
		<script language="JavaScript" type="text/javascript">
		  	SyntaxHighlighter.all();
		</script>
        
		
	</head>

	<body class="level2" id="biojs" >
    
        <div id="skip-to">
            <ul>
                <li><a href="#content" title="">Skip to main content</a></li>
                <li><a href="#local-nav" title="">Skip to local navigation</a></li>
                <li><a href="#global-nav" title="">Skip to EBI global navigation menu</a></li>
                <li><a href="#global-nav-expanded" title="">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
            </ul>
        </div>
        
        
        <div class="container_24" id="wrapper">
        
            <!-- ============================== header ================================= -->
        
            <header>
                <div class="masthead grid_24" id="global-masthead">

                </div>

                <div class="masthead grid_24" id="local-masthead">
                    <div class="grid_12 alpha" id="local-title-logo">
                        <h1>BioJs | Home</h1>
                        <p><a href="." style="border-bottom-width: 0px;" title=""><img alt="Biojs" class="logo" src="images/logo.png" /></a></p>
                    </div>
                    
                    <!--
                    
                    <div class="grid_12 omega">
                        <form action="search" id="local-search">
                            <fieldset>
                                <div class="form">
                                    <label>
                                        <input class="field" id="local-searchbox" name="q" onblur="displaySearchInterPro(this);" onfocus="hideSearchInterPro(this);" size="30" type="text" value="" />
                                    </label>
                                    <input alt="Search InterPro" class="submit" id="searchsubmit" title="Search InterPro" type="submit" value="Search" />
                                    
                                    
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    
                     -->
                    
                    <nav>
                        <ul class="grid_24" id="local-nav">
                            <li class="first"><a href="./index.html" title="">Home</a></li>
                            <li><a href="./components.html" title="">Components</a></li>
                            <li><a href="./download.html" title="">Download</a></li>
                            <li class="last"><a href="./about.html" title="">About BioJs</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

<!-- ============================== site content ============================ -->	
	
            <div class="clearfix" id="content" role="main">

                <!-- ============================== main section ============================ -->
                
                <div class="grid_18"> 
                    
                    <section>
                        <!-- <h2 class="strapline">Reusable Components for Visualizing Biological Data</h2> -->
                        <div class="grid_6 alpha">
                            <h2 class="strapline">USE</h2>
                            <p>Reuse and integrate components into web applications very easily.
                                <br/><a href="components.html">Search components</a></p>
                        </div>
                        <div class="grid_6">
                            <h2 class="strapline">DEVELOP</h2>
                            <p>Follow our guidelines to develop, extend and maintain the components.
                                <br/><a target="_blank" href="https://docs.google.com/document/d/1Uk4-hBT5YSGGs91FVNvZPQ15QBihivKzYusBJ2GVNn8/edit?hl=en_US">Read tutorial</a></p>
                        </div>
                        <div class="grid_6 omega">
                            <h2 class="strapline">COMBINE</h2>
                            <p>Different libraries can be combined to build a component.
                                <br/><a href="Biojs.UniProtFeaturePainter.html">See example</a></p>
                        </div>
                        <div class="grid_18">
                            <img src="images/example.png"/>
                        </div>
                    </section>
                        
                </div> <!-- grid_18  -->
                    
                <!-- ============================== side bar ============================ -->	
                
                <div class="grid_6">
                    <aside>
                        <div class="main-right-box-no">
                            <p class="version">Reusable Components for Visualizing Biological Data.</p>
                            <a href="components.html">Components</a>
                        </div>
                        <div class="main-right-box-no">
                            <div class="right_title">
                                <span class="version">Showcase</span></div>
                                <div class="feat_list">
                                    <ul>
                                        <!--
                                        <for each="thisClass" in="data">
                                            <li><a href="{+thisClass.alias+}.html">{+thisClass.name+}</a></li>
                                        </for>
                                         -->
                                        <li><a href="Biojs.Sequence.html">Sequence</a></li>
                                        <li><a href="Biojs.Protein3D.html">Protein3D</a></li>
                                        <li><a href="Biojs.InteractionsTable.html">InteractionsTable</a></li>                  
                                    </ul>	
                                    <a href="components.html">See all</a>
                                </div>
                        </div>
                    </aside>
                </div> <!-- grid_6 -->
                    
                    
                <div class="grid_24"> <!-- grid_24 -->
                    <div class="main_bottom">
                        <section>
                            <div class="main_bottom_hlight">
                                
                                <div class="grid_8 alpha">
                                    
                                    <div class="bloc_doc">
                                        <h3><a href="">Documentation</a></h3>
                                        <p class="about">
                                            <a target="_blank" href="https://docs.google.com/document/d/1oS4M0EKAMre4IDERV61VVTDXJH9F-HGbHxKwNXqjWuo/edit">How to install</a>: put the biojs repository in your ocal machine. <br/><br/>
                                            <a target="_blank" href="https://docs.google.com/document/d/1Uk4-hBT5YSGGs91FVNvZPQ15QBihivKzYusBJ2GVNn8/edit">How to create</a>: a tutorial which shows you how to create your own component. <br/><br/>
                                            <a target="_blank" href="https://docs.google.com/document/d/1HKwAr8bIqqGklAiAmDoAshzbZrIYs8Q8mbrSDHobudg/edit">How to document</a>: follow this tutorial to document your code and generate the working examples automatically. <br/><br/>
                                            <a target="_blank" href="https://docs.google.com/document/d/1gG036Bvwl4i-KX5BTHddGzeE_5eospL-864BrnsAS_s/edit?hl=en_US">Reference Specification</a>: a document which brings a detailed information about Biojs as well as its technical details. <br/> <br/>
                                            <a href="../jsdoc/index.html">JsDoc</a>: up-to-date API documentation for developers.
                                            
                                        </p>
                                    </div> 
                                    
                                </div>
                                
                                <div class="grid_8">
                                    
                                    <div class="bloc_foc">
                                        <h3><a href="/interpro/protein_focus.html">Get involved</a></h3>
                                        <p class="about">
                                            
                                            <a target="_blank" href="http://code.google.com/p/biojs/issues/entry?template=Feature">Features</a>: feel free to send us feature requests and/or ideas which should be considered in the development of BioJS. This information will be automatically shared in our BioJS mailing list. <br/> <br/>
                                            <a target="_blank" href="mailto:biojs@googlegroups.com">Mailing list</a>: lets subscribe to the BioJS mailing list if you would like to participate or provide feedback about the project. 
                                        </p>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="grid_8 omega">
                                    
                                    <div class="bloc_pub" id="last">
                                        <h3><a href="">Follow us</a></h3>
                                        <div>
                                            <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
                                            <script>
                                                new TWTR.Widget({
                                                    version: 2,
                                                    type: 'profile',
                                                    rpp: 5,
                                                    interval: 30000,
                                                    width: 'auto',
                                                    height: 300,
                                                    theme: {
                                                        shell: {
                                                        background: '#408DD2',
                                                        color: '#ffffff'
                                                    },
                                                    tweets: {
                                                        background: '#ffffff',
                                                        color: '#949494',
                                                        links: '#000000'
                                                        }
                                                    },
                                                    features: {
                                                        scrollbar: false,
                                                        loop: false,
                                                        live: false,
                                                        behavior: 'all'
                                                    }
                                                }).render().setUser('biojsLibrary').start();
                                            </script>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </section>
                    </div>
                </div>
                   
            </div> 
        
        
<!-- ============================== footer ======================================= -->

            <footer>
                <div style="text-align: center; font-size: 0.75em;">
                    Registry generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
                </div>
            </footer>
        </div> <!-- div class="container_24" id="wrapper" -->
    </body>
</html>
