.biojs_msa_div {
	text-align:left;
}

.biojs_msa_stage {
	cursor: default;
	line-height: normal; 
}

.biojs_msa_labels {
	color:black;
	display: block;
	white-space: nowrap;
	cursor: pointer;
	vertical-align:top;
	float:left;
}

.biojs_msa_labels-special {
	color:red;
	font-weight: bold;
}

.biojs_msa_single_residue{
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.biojs_msa_sequence_block{
	color: black;
	white-space: nowrap;
	vertical-align:middle;
	font-family: monospace;
	display: block;
}

.shadowed{
	box-shadow: 7px 7px 8px #818181;
	-webkit-box-shadow: 7px 7px 8px #818181;
	-moz-box-shadow: 7px 7px 8px #818181;
}

.biojs_msa_layer{
	display: block;
	white-space: nowrap;
}

.biojs-rectangular-select{
    border: 1px dotted #000;
    position: absolute;
}
