*
{ margin: 0;
  padding: 0;}

body
{ font-family: 'trebuchet ms', arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .80em;
  background: #E9E4C7 url(pattern.png);
  color: #555;}

p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  padding: 0 0 5px 0;}

h1, h4
{ font: normal 175% "century gothic", arial;
  margin: 0 0 15px 0;
  padding: 15px 20px 5px 0;
  color: #444;}

h2, h5
{ padding: 0 0 5px 0;
  font: normal 110% "century gothic";
  text-transform: uppercase;
  letter-spacing: 0;}

h3, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: 0;
  padding: 0 0 15px 0;}

h4
{ color: #362C20;}

h5, h6
{ color: #129991;}

img
{ border: 0px; 
  margin: 0px; 
  padding: 0px;}

.left
{ float: left; 
  border-right: 20px solid #FFF;}

.right
{ float: right; 
  border-left: 20px solid #FFF;}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;}

blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border: 1px solid #E5E5DB;
  background: #F5F5F1;}

ul
{ margin: 2px 0px 18px 16px;
  padding: 0px;}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;}

ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;}

a, a:hover
{ outline: none;
  border-bottom: 1px dotted;
  text-decoration: none;
  color: #444;}

a:hover
{ border-bottom: 1px solid;}

#logo, #menubar, #panel, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: url(back.png) repeat-x;}

#logo
{ width: 870px;
  position: relative;
  height: 107px;}

#logo #logo_text 
{ position: absolute; 
  top: 15px;
  left: 0;}

#logo h1
{ font: normal 300% "century gothic", arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  padding: 12px 0 0 26px;
  color: #FFF;
  margin: 0;}

#menubar
{ width: 879px;
  height: 45px;
  padding-left: 5px;} 

ul#menu{float: right;margin: 0px;}

ul#menu li
{ float: left;
  margin: 7px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

ul#menu li a
{ font-size: 110%;
  display: block; 
  float: left; 
  height: 25px;
  border-bottom: 0;
  text-decoration: none; 
  padding: 8px 32px 5px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;} 

ul#menu li.tab_selected a
{ height: 25px;
  padding: 8px 32px 5px 26px;}

ul#menu li.tab_selected
{ margin: 7px 0 0 0;
  background: transparent url(tabs.png) no-repeat 0 0px;}

ul#menu li.tab_selected a, ul#menu li.tab_selected a:hover
{ background: url(tabs.png) no-repeat 100% 0px;
  color: #000;}

ul#menu li a:hover
{ color: #27C0FF;}

#component
{ border: 2px solid #F3F2EF;
  padding: 10px ;
  overflow: auto;} 
#src
{ overflow: auto; }


#site_content
{ width: 875px;
  background: #FFF;
  overflow: hidden;  padding-top: 20px;} 

.sidebar
{ float: right;
  width: 178px;
  padding: 20px 25px 15px 15px;}

.sidebar ul
{ width: 178px; 
  padding-top: 4px; 
  margin: 4px 0px 30px 0px;}

.sidebar li
{ list-style: none; 
  padding: 0px 0px 4px 0px;}

.sidebar li a, .sidebar li a:hover
{ text-decoration: none; 
  padding: 0px 0px 0px 18px;
  display: block;
  background: transparent url(arrow.png) no-repeat left center;
  color: #555;
  border: none;} 

.sidebar li a.selected, .sidebar li a:hover, .sidebar li a.selected:hover
{ background: transparent url(arrow_select.png) no-repeat left center;} 

#content
{ text-align: left;
  width: 597px;
  padding: 20px 10px 15px 26px;}

#footer
{ width: 780px;
  height: 33px;
  padding: 20px 20px 4px 20px;
  margin-bottom: 20px;
  text-align: center; 
  background: transparent;
  color: #444;
  text-transform: uppercase;}

.event
{ padding: 5px 5px 5px 20px;}

.alternate_colour
{ color: #27C0FF;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 4px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 210px; 
  height: 36px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 304px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ text-align: left;
  background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;}
  
table tr td
{ background: #CCCCCC;
  color: #47433F;
  border-top: 1px solid #FFF;}

div.codeblock {
  background-color:#EEEEEE;
  border-bottom-color:#CCCCCC;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#CCCCCC;
  border-left-style:solid;
  border-left-width:1px;
  border-right-color:#CCCCCC;
  border-right-style:solid;
  border-right-width:1px;
  border-top-color:#CCCCCC;
  border-top-style:solid;
  border-top-width:1px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
}

