$normalOpacity: 0.3;
$selectedOpacity: 1.0;
$schemeName: hydrophobicity;

$residues: (
A: #ad0052,
B: #0c00f3,
C: #c2003d,
D: #0c00f3,
E: #0c00f3,
F: #cb0034,
G: #6a0095,
H: #1500ea,
I: #ff0000,
J: #fff,
K: #0000ff,
L: #ea0015,
M: #b0004f,
N: #0c00f3,
O: #fff,
P: #4600b9,
Q: #0c00f3,
R: #0000ff,
S: #5e00a1,
T: #61009e,
U: #fff,
V: #f60009,
W: #5b00a4,
X: #680097,
Y: #4f00b0,
Z: #0c00f3,
Gap: #fff,
);

$residuesSelected: (
A: black,
M: black,
Gap: black,
);

@import "select_builder"
