// overwrite only changed selection colors
//$residuesSelected:  map-merge($residues, $residuesSelected);

.biojs-msa-schemes-#{$schemeName}{
@each $key,$value in $residues{
	.biojs-msa-aa-#{$key} {
		background-color: rgba($value,$normalOpacity);
	}
	.biojs-msa-aa-#{$key}-selected {
		@if map-has-key($residuesSelected,$key) {
			$col: map-get($residuesSelected,$key);
			background-color: rgba(red($col),green($col),blue($col),$selectedOpacity);
			color: $value;
		} @else {
			background-color: rgba($value,$selectedOpacity);
		}
	}
}
}
