$normalOpacity: 0.3;
$selectedOpacity: 1.0;
$schemeName: zappo;

$residues: (
A: #ff6666,
B: #fff,
C: #ffff00,
D: #33cc00,
E: #33cc00,
F: #ff9900,
G: #cc33cc,
H: #cc0000,
I: #ff6666,
J: #fff,
K: #cc0000,
L: #ff6666,
M: #ff6666,
N: #3366ff,
O: #fff,
P: #cc33cc,
Q: #3366ff,
R: #cc0000,
S: #3366ff,
T: #3366ff,
U: #fff,
V: #ff6666,
W: #ff9900,
X: #fff,
Y: #ff9900,
Z: #fff,
Gap: #fff,
);

$residuesSelected: (
A: black,
M: black,
Gap: black,
);

@import "select_builder"
