div#local-footer {
	border-top: 0px;
}
::selection {
	background: #7D9CA6;;
	color: white;
}

#local-search {
	padding-top: 9px;
}
.form input.submit {
	margin: 0 0 0 0;
}

a.ext, a.ext:link {/*color: #0072fe; text-decoration: none;*/
	padding-left: 13px;
	background: url(../../images/ico_ext_link.png) no-repeat 0 2px;
}
/*a.ext:visited { color: #5292e1;text-decoration: none;}*/
a.ext:hover, a.ext:active, a.ext:focus { /*color: #0072fe;  text-decoration: underline;*/
	background: url(../../images/ico_ext_link_on.png) no-repeat 0 2px;
}
a.title_mainlink, a.title_mainlink:link {
	color: #0072fe; /*color: #BFBB62;*/
	text-decoration: none;
	text-transform: uppercase;
	line-height: 200%;
}
a.title_mainlink:visited {
	color: #0072fe;
	text-decoration: none;
}
a.title_mainlink:hover, a.title_mainlink:active, a.title_mainlink:focus {
	color: #0072fe;
	/*    text-decoration: underline;*/
}

a.title_sublink, a.title_sublink:link, a.title_sublink:visited {
	color: #8B4DC2;
	text-decoration: none;
}

a.title_sublink:hover, a.title_sublink:active, a.title_sublink:focus {
	color: #8B4DC2;
	/*    text-decoration: underline; */
}
.bloc_foc img, .bloc_pub img, .bloc_iscan
img, .bloc_bioma img, .bloc_utop img {
	float: left;
	border: solid 1px #cdcdcd;
	margin-right: 9px;
	margin-top: 8px;/* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);*/
}
.grid_4 h2 {
	padding-left: 9px;
}
/* END STYLE ADDED WITH FRANCIS CSS*/

#none {
	border: 0px solid #e4e4e4;
}
.container {/*border: 1px solid #e4e4e4; padding:6px; overflow:auto;*/
	text-align: left;
}
.container .maincontent {
	margin: 0;
}
.container .maincontent-r {/*margin-right:266px; /*260 +6px margin*/
	border: 0px solid red;
}
.container .teaser {
	border: 0px solid red; /*margin: 6px 0;*/
	overflow: auto;
}
.container .teaser h2 {
	color: #8b4dc2;
	padding-left: 9px;
	font-weight: normal;
	border: none;/* padding: 0 0 4px 0;margin-top: 0; font-size: 115%;*/
	font-size: 182%;
}
/*.container .maincontent-r .teaser .logo { float:left; margin-right:6px;}*/
/*.container .maincontent-l {margin-left: 182px;*//*border: 1px solid #e4e4e4;padding:6px;background: #FFF;}  */
.container .maincontent-l .right-col {
	border: 0px red solid;
	padding: 0 0 9px 9px; /* leave space between hbar title & right-box */
	float: right;
	background-color: #fff;
}
.container .maincontent-l .right-col .right-box {
	border: 1px solid #e4e4e4;
	padding: 9px;
	background-color: white;
}
.container .maincontent-l .right-col .right-box h2 {
	color: #9D5ED5;
	border: none;
	font-weight: bold;
	font-size: 100%;
	margin: 0;
	padding-left: 0;
}

.container .sidebar {
	width: 260px;
	float: right;
	border: 0px solid green;
}

.container .sidemenu {
	-moz-border-radius: 0 10px 0 10px;
	-khtml-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	border-radius: 10px 0 10px 0;
	box-shadow: 3px 3px 4px #f3f3f3;
	-moz-box-shadow: 3px 3px 4px #f3f3f3;
	-khtml-box-shadow: 3px 3px 4px #f3f3f3;
	-webkit-box-shadow: 3px 3px 4px #f3f3f3;
	background-color: #f6f6f6;
	margin-top: 3px;
	/* For WebKit */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.02)), to(rgba(0,0,0,.08)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(0,0,0,.02), rgba(0,0,0,.08));
	/* For lt IE8 */
	filter: progid :DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#fffafafa', endColorstr='#ffebebeb');
	/* For gte IE8 */
	-ms-filter: progid :DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#fffafafa', endColorstr='#ffebebeb');
	border: 1px solid #e4e4e4;
	font-size: 85%; /*width:170px; *//* was 180px - to gain some space even if domain organisation is falling on 2 lines */ /*float: left;*/
	border: 0px solid green;
	border: 1px solid #E4E4E4;
	-moz-border-radius: 0 10px 0 10px;
	-khtml-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	border-radius: 0 10px 0 10px;
}
.container .sidemenu div {
	padding: 1px;
	border: 0px solid green;
}
.container .sidemenu div  ul {
	margin: 0;
	padding-left: 0px;
	font-size: 100%;
}
.container .sidemenu div  ul li {
	margin: 0;
	line-height: 140%;
	list-style-type: none;
	padding: 1px;
	border-bottom: 1px dotted #D5D5D5;
}
.container .sidemenu div ul li ul li {
	padding-left: 0px;
	margin-left: 4px;
	list-style-image: url(../../images/arrow.png);
	border-bottom: 0px dotted #D5D5D5;
	list-style-position: inside;
}
.container .sidemenu div .menu_numb {
	font-size: 80%;
	color: #9c9c9c;
}
.container .sidemenu div .disabled {
	margin-left: 4px;
	color: #9C9C9C;
}
.container .sidemenu div div {
	border-bottom: 1px dotted #d5d5d5;
}
.container .sidemenu div div.selected {
	margin-left: 4px; /*background: url(../../images/arrow_01.png) no-repeat right 4px ; */
	height: 26px;
	margin-top: 4px;
	-moz-border-radius: 0 10px 0 0;
	-khtml-border-radius: 0 10px 0 0;
	-webkit-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;
}
.container .sidemenu div div .filter {
	margin-top: 6px;
	padding: 4px;
	background-color: #f6f6f6;
	border: 1px solid #e4e4e4;
	font-size: 90%;
}
.container .sidemenu div div .filter ul {
	padding: 0;
}
.container .sidemenu div div .filter li {
	list-style: none;
	list-style-position: inside;
	padding-left: 6px;
	background: url(../../images/arrow.png) no-repeat 0 4px;
}
.container .sidemenu a {
	border-bottom: 0px;
	display: block;
	padding: 4px;
	color: #3E3E3E;
}
.container .sidemenu  a:hover {
	background-color: rgba(17, 17, 17, 0.1);
}

input {
	font-family: Verdana, Helvetica, sans-serif;
}

p {
	border: 0px solid red;
}

.desc p, p {
	clear: none;
}

#pfoc img {
	float: left;
	margin: 0 10px 6px 10px;
}

a.neutral, a.neutral:link {
	text-decoration: none;
	color: #525252;
}

a.neutral:hover, a.neutral:active, a.neutral:focus {
	text-decoration: underline;
}

h1 {
	color: #284adb; /*green #55a2ab purple blue #284adb dark grey #4c4c4c */
	font-size: 180%; /*was150%*/
	/*font-size: 2em;*/
	background: none;
	border: 0px solid #BFBFBF;
	font-weight: normal;
	margin: 6px 0 12px 0;
	padding: 0;
	padding-left: 9px;
	clear: none;
}

h1  span {
	font-size: 85%;
}
h2  span {
	font-size: 80%;
}
h2, h3, h4 {
	clear: none;
}

h6 {/*Title questions FAQs  */
	font-size: 100%;
	font-weight: bold;
	margin: 4px 0 0;
}

.main-right-box h2 {/* Title right column homepage */
	padding: 0;
	margin: 0;
	color: #9d5ed5;
	font-size: 110%;
	font-weight: bold;
	border: none;
}

.main-right-box .main_button, .main-right-box-no .main_button {
	font-size: 85%;
}

h5 span {  /* Release number */
	font-size: 130%;
}

.main-right-box-no {
	-moz-border-radius: 0 10px 0 10px;
	-khtml-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	border-radius: 10px 0 10px 0;
	box-shadow: 3px 3px 4px #f3f3f3;
	-moz-box-shadow: 3px 3px 4px #f3f3f3;
	-khtml-box-shadow: 3px 3px 4px #f3f3f3;
	-webkit-box-shadow: 3px 3px 4px #f3f3f3;
	border: 1px solid #e4e4e4;
	padding: 9px;
	background-color: #fff;
	margin: 20px 0 0 0;
	clear: both;
}

.main-right-box {
	box-shadow: 3px 3px 4px #f3f3f3;
	-moz-box-shadow: 3px 3px 4px #f3f3f3;
	-khtml-box-shadow: 3px 3px 4px #f3f3f3;
	-webkit-box-shadow: 3px 3px 4px #f3f3f3;
	border: 1px solid #e4e4e4;
	padding: 9px;
	background-color: #f6f6f6;
	/* For WebKit */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.02)), to(rgba(0,0,0,.08)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(0,0,0,.02), rgba(0,0,0,.08));
	/* For lt IE8 */
	filter: progid :DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#fffafafa', endColorstr='#ffebebeb');
	/* For gte IE8 */
	-ms-filter: progid :DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#fffafafa', endColorstr='#ffebebeb');
	clear: both;
	margin: 20px 0 0 0;
}

.box_3dview {
	border: 1px solid #e4e4e4;
	display: block;
	padding: 2px;
	-moz-border-radius: 0 10px 0 10px;
	-khtml-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	border-radius: 10px 0 10px 0;
	margin-left: 6px;
	box-shadow: 3px 3px 4px #f3f3f3;
	-moz-box-shadow: 3px 3px 4px #f3f3f3;
	-khtml-box-shadow: 3px 3px 4px #f3f3f3;
	-webkit-box-shadow: 3px 3px 4px #f3f3f3;
}

.box_sim_prot {
	margin-top: 6px;
	padding: 4px;
	background-color: #f6f6f6;
	border: 1px solid #e4e4e4;
	font-size: 90%;
}

.box_fam {
	background-color: #fff;
}
span.fam, span.dom, span.site, span.repeat {
	font-weight: bold;
	padding-left: 20px;
	height: 18px;
	display: block;
}

span.fam {
	color: #fc452a;
	background: url(../../images/ico_type_family.png) no-repeat 0px 0px;
}
span.dom {
	color: #45b41a;
	background: url(../../images/ico_type_domain.png) no-repeat 0px 0px;
}
span.site {
	color: #a336c6;
	background: url(../../images/ico_type_site.png) no-repeat 0px 0px;
}

span.repeat {
	color: #ff830a;
	background: url(../../images/ico_type_repeat.png) no-repeat 0px 0px;
}

.box_content {
	margin: 6px 0;
}

img {
	border: none; /*temporary - to specify in img border="0"*/
}

.options {
	border: 0px solid red;
	padding-left: 9px;
}
.options .r_opt {
	float: right;
	width: 350px; /*to keep higher for IE6*/
	margin-top: 3px;
}
.options .r_opt .export {
	margin-left: 12px;
	border: 1px solid #d4d4d4;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: right;
	background: url(../../images/bgd_exp_grey.png) repeat-x bottom left;
	padding: 2px 4px;
	display: block;
}
.options .r_opt .export:hover, .options .r_opt .export:active, .options .r_opt .export:focus {
	border: 1px solid #77ace0;
	background: url(../../images/bgd_exp_grey_o.png) repeat-x bottom left;
}
.options .r_opt .export a {
	padding-left: 16px;
	color: #6b6b6b;
	font-size: 80%;
	text-decoration: none;
	display: block;
	border-bottom-width: 0px;
}
.options .r_opt .export a:hover {
	color: white;
}
.options .r_opt .export a.exp_annot {
	background: url(../../images/ico_annotate.png) no-repeat 0 2px;
}
.options .r_opt .export a.exp_text {
	background: url(../../images/ico_exp_text.png) no-repeat 0 2px;
}
.options .r_opt .export a.exp_pdf {
	background: url(../../images/ico_exp_pdf.png) no-repeat 0 2px;
}
.options .r_opt .export a.exp_fasta {
	background: url(../../images/ico_exp_fasta.png) no-repeat 0 2px;
}
.options .r_opt .export a.exp_tsv {
	background: url(../../images/ico_exp_tsv.png) no-repeat 0 2px;
}

.favicon {
	background: url(../../images/favicon.png) no-repeat;
	width: 20px;
	height: 21px;
	float: left;
	margin: 6px 0 0 12px;
}

.more {
	margin-top: 6px;
	border: 0px solid #cecece;
}

.menu_left {
	/*removed to solve a bug with Opera */
	float: left;
	margin-top: 6px;
	border: 0px solid green;
	display: block;
}
.menu_left ul {
	display: inline;
	padding: 0;
	margin: 0;
}
.menu_left ul li {
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0;
}

/*BEGIN protein page*/
.prot_gal, .prot_tree, .prot_sum, .prot_entries, .prot_go, .prot_struct_tab {/*background:url(../../images/ico_sq_6.gif) no-repeat 0 12px;*/
	padding-left: 9px;
	border: 0px solid red;
}
#uni {
	background: none;
	border: 0px solid green;
	margin: 0 0 24px 0;
}/*exception only for unintegrated entries*/

ol.entries, ol.signatures {
	margin: 0;
	padding: 0;
}
ol.entries li, ol.signatures li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.prot_gal {
	margin: 12px 0 24px 0;
}
.prot_entries, .prot_sum, .prot_scale {
}/*fix the width of your sequence view*/
.prot_gal h1, .prot_sum h1, .prot_entries h1, .prot_tree  h1, .prot_sum h1, .prot_go h1, .prot_struct_tab h1, .prot_struct_feat h1 {
	font-size: 108%;
	color: #222;
	font-weight: bold;
	padding: 0;
}
/*.prot_go h1,.prot_entries h1, .prot_tree  h1  {font-size:130%; background-color:#dedede; padding:6px}*/
.prot_gal h1, .prot_tree h1 {
	margin: 6px 0 3px 0px;
}
.prot_sum h1 {
	margin: 6px 0 0 0;
}

.prot_gal .prot_gal_bloc {
	border: 0px solid green;
	overflow: auto;
	clear: both;/* added for IE6 that doesn't recognise overflow*/
}
.prot_gal .prot_gal_bloc .prot_gal_col {
	width: 80px;
	display: block;
	float: left;
}
.prot_gal .prot_gal_bloc .prot_gal_desc {/*font-size:120%; color:#838383;*/
	border: 0px solid blue;
	float: left;
	margin: 6px 0 3px 6px;
}
.prot_gal .prot_gal_source {
	float: right;
	display: block;
	font-size: 90%;
}
.prot_gal .prot_gal_source span {
	color: #838383;
}
.prot_gal hr {
	height: 1px;
	color: #cdcdcd;
	background-color: #cdcdcd;
	border: 0;
	margin: 0;
	padding: 0;
}

.prot_tree {
	margin: 12px 0 24px 0;
	overflow: auto;
}
.prot_tree .prot_tree_desc {
	color: #393939;
	border: 0px solid green;
	margin-bottom: 6px;
}
.prot_tree .prot_tree_desc a {/*font-size:120%;*/
}
.prot_tree .prot_tree_desc a.neutral:link {
	text-decoration: none;
	color: #393939;
}
.prot_tree .prot_tree_desc a.neutral:hover, .prot_tree .prot_tree_desc a.neutral:active, .prot_tree .prot_tree_desc .a.neutral:focus {
	text-decoration: underline;
}
.prot_tree .prot_tree_desc a.neutral span {
	color: #0072FE;
}
.prot_tree .prot_tree_desc div {
	margin: 0 0 3px;
}
.prot_tree .prot_tree_desc span {
	font-size: 90%;
	color: #393939;
	border: 0px solid red;
}

.prot_entries {
	margin: 12px 0 0 0;
	border: 1px solid white;/*to solve bug puce with alignment*/
}
.prot_entries li.entry {
	margin-bottom: 16px;
}
.prot_entries .top-row {
	border: 0px solid red;
	overflow: auto;
}
.prot_entries .top-row .top-row-id {
	font-size: 90%;
	float: left;
	border: 1px solid #d8d8d8;
	width: 110px;
	padding: 1px 0 1px 6px;
	margin-right: 12px;
	background-color: transparent;
	background-image: linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));
	background-image: -moz-linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));
	background-image: -o-linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.85)),to(rgba(247,247,247,.85)));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,.85),rgba(247,247,247,.85));
}
.prot_entries .top-row .top-row-id:hover {
	background-image: none;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.prot_entries .top-row .top-row-id:hover a:hover {
	text-decoration: none;
}
.prot_entries .top-row .top-row-id img {
	float: left;
	margin-right: 12px;
	padding-top: 1px;
}
.prot_entries .top-row .top-row-name {
	font-size: 90%;
	float: left;
	padding: 1px 0px;
	border: 0px blue solid;
}

.prot_entries .bot-row {
	border: 0px solid green;
	overflow: auto;
	margin-top: 1px;
}
.prot_entries .bot-row .bot-row-line-top {
	margin: 0 164px 0 128px;
	border-bottom: 1px solid #d8d8d8;
}
.prot_entries .bot-row .bot-row-line-bot {
	margin: 0 164px 0 128px;
	border-top: 1px solid #d8d8d8;
}

.prot_entries .bot-row  ol.signatures {
}
.prot_entries .bot-row  ol.signatures li {
	border: 0px solid purple;
	overflow: auto;
	clear: both;/* added for IE6 that doesn't recognise overflow*/
}
.prot_entries .bot-row  ol.signatures li .bot-row-line {
	margin-left: 128px;
	margin-right: 164px;
	height: 17px;
	background-color: #efefef;
	display: block;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.prot_entries .bot-row  ol.signatures li .bot-row-signame {
	font-size: 80%;
	float: right;
	width: 150px;
	background: url(../../images/arrow_01.png) no-repeat 0px 4px;
	padding-left: 10px;
	border: 0px solid pink;
}
.prot_entries .bot-row  ol.signatures li .bot-row-signame span {
	font-size: 70%;
}
.prot_entries .bot-row  ol.signatures li .bot-row-line .matches {
	position: relative;
	border: 0px solid pink;
}
/* Individual match */
.prot_entries .bot-row  ol.signatures li .bot-row-line .matches .match {
	_font-size: 30%; /*IE6 bug - doesn't read height*/
	border: 1px solid black;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 5px;
	top: 0.4em;
	position: absolute;
	z-index: 1;  /* Show above match line */
}
.prot_entries .bot-row  ol.signatures li .bot-row-line .matches .match:hover {
	height: 0.7em; /* Enlarge slightly: */
	top: 0.3em;
	z-index: 5;
	box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
	-webkit-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
	-moz-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
}
.prot_entries .bot-row ol.signatures li .bot-row-line .matches .grade {
	background: url(../../images/bgd_dot.gif) repeat-y;
	width: 1px;
	height: 17px;
	position: absolute;
	z-index: 0;
}

.prot_sum {
	margin: 12px 0 24px 0;
}
.prot_sum .top-row {
	border: 0px solid red;
	overflow: auto;
	clear: both;/* added for IE6 that doesn't recognise overflow*/
}
.prot_sum .top-row .top-row-id {
	float: left;
	width: 110px;
}
.prot_sum .top-row .top-row-opt {
	float: right;
	border: 0px blue solid;
	margin-right: 164px;
	padding-top: 2px;
}
.prot_sum .top-row .top-row-opt .opt1 {
	height: 12px;
	width: 12px;
	background: url(../../images/ico_newindow.png) no-repeat;
}
.prot_sum .bot-row {
	border: 0px solid green; /*overflow:auto;*/
	margin-top: 1px;
}
.prot_sum .bot-row .bot-row-line-top {
	margin: 0 164px 0 128px;
	border-bottom: 1px solid #d8d8d8;
}
.prot_sum .bot-row .bot-row-line-bot {
	margin: 0 164px 0 128px;
	border-top: 1px solid #d8d8d8;
}
.prot_sum .bot-row ol.signatures li {
	border: 0px solid purple;
	overflow: auto;
}
.prot_sum .bot-row ol.signatures li .bot-row-line {
	margin: 0 164px 0 128px;
	height: 17px;
	background-color: #efefef;
	display: block;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.prot_sum .bot-row ol.signatures li .bot-row-signame {
	font-size: 80%;
	float: right;
	width: 148px;
	background: url(../../images/arrow_01.png) no-repeat 4px 4px;
	padding-left: 16px;
	border: 0px solid pink;
}
.prot_sum .bot-row ol.signatures li .bot-row-line .matches {
	position: relative;
}
.prot_sum .bot-row ol.signatures li .bot-row-line .matches .match {
	_font-size: 30%; /*IE6 bug - doesn't read height*/
	border: 1px solid black;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 5px;
	top: 0.4em;
	position: absolute;
	z-index: 1;  /* Show above match line */
}
.prot_sum .bot-row ol.signatures li .bot-row-line .matches .match:hover {
	height: 0.7em; /* Enlarge slightly: */
	top: 0.3em;
	z-index: 5;
	box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
	-webkit-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
	-moz-box-shadow: 0 0 0.5em rgba(0, 0, 255, 1);
}
.prot_sum .bot-row ol.signatures li .bot-row-line .matches .grade {
	background: url(../../images/bgd_dot.gif) repeat-y;
	width: 1px;
	height: 17px;
	position: absolute;
	z-index: 0;
}

.prot_scale .bot-row {
	border: 0px solid green; /*overflow:auto;*/
}
.prot_scale .bot-row .bot-row-line-top {
	margin: 0 164px 0 128px;
	border-bottom: 1px solid #d8d8d8;
}
.prot_scale .bot-row .bot-row-line {
	margin: 0 164px 0 128px;
	height: 18px;
	display: block;
}
.prot_scale .bot-row .bot-row-line .scale_bar {
	position: absolute;
	z-index: 1;
	background-color: #cecece;
	width: 1px;
	height: 4px;
}
.prot_scale .bot-row .bot-row-line .scale_numb {
	position: absolute;
	z-index: 2;
	margin-left: -10px;
	border: 0px solid green;
	color: #b8b8b8;
	font-size: 80%;
	margin-top: 4px;
}

.prot_go {
	margin: 12px 0;
	display: block;
	overflow: auto;
}
.prot_go .go_terms {
	overflow: auto;
	display: block;
	border: 0px black solid;
}
.prot_go .go_terms .go_terms_box {
	float: left;
	width: 30%;
	border: 0px red solid;
	margin: 0 6px;
}
.prot_go .go_terms .go_terms_box h2 {
	border: none;
	font-size: 100%;
	font-weight: bold;
	color: #525252;
}
/*END protein page*/

#sepseq {
	background-color: transparent;
	height: 2px;
	width: 1px;
	/*margin-left:6px;*/
}

.minus {
	text-transform: lowercase;
}

td div.scale {
	text-align: left;
	font-size: 80%;
}

.scale {
	background: url(../../images/seq_scale.png) no-repeat left 6px;
	padding-left: 14px;
	margin-left: 6px;
}

.resize-box {
	float: right;
}

.main_center {
	margin-top: 10px;
	padding: 10px 0 10px 2px;
	display: block;
	background: url(../../images/bgd_form_grey.png) #f3f3f3;
	/* For WebKit
	 background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.05)), to(rgba(0,0,0,.2)));
	 For Mozilla
	 background: -moz-linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.2));
	 For lt IE8
	 filter: progid:DXImageTransform.Microsoft.gradient
	 (gradientype=0,startColorstr='#fff3f3f3', endColorstr='#ffcccccc');
	 For gte IE8
	 -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#fff3f3f3', endColorstr='#ffcccccc');
	 */
	border-top: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
}
.main_center:hover {
	background: url(../../images/bgd_form_grey.png) #f3f3f3 0 -20px;
}

.main_footer {
	margin-top: 4px;
	text-align: center;
	font-size: 90%;
	color: #999;
}

#protfoc {
	border-top: 1px solid #E4E4E4;
	padding: 9px 0 18px 0px;
	margin: 0;
}
#protfoc img {
	float: left;
	border: solid 1px #cdcdcd;
	margin-right: 8px;
	margin-top: 2px;
}

.main_bottom {
	border: 0px solid pink;
}

.main_bottom .main_bottom_tools {
	border: 0px red solid;/*margin-top:10px;*/
	overflow: auto; /*clear:both;for IE6*/
}
.main_bottom .main_bottom_tools h2 {
	font-size: 140%;
	text-transform: uppercase;
	margin-bottom: 0px; /*added for EBI style*/
	padding-left: 9px;
}
.main_bottom .main_bottom_hlight {
	border: 0px green solid; /*margin-top:10px;*/
	overflow: auto;
}
/*.main_bottom .main_bottom_hlight .bloc div {min-height:200px;}*/
/*.main_bottom .main_bottom_tools .bloc div {min-height:160px;}*/

.bloc {/*width:250px;  float:left; margin:0 0 6px 6px;*/
	border: 0px solid #dedede;
	float: left;
	width: 33.33%;
}
.bloc img {
	float: left;
	border: solid 1px #cdcdcd;
	margin-right: 8px;
	margin-top: 2px;/* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);*/
}
.bloc div {
	border-right: 0px dotted #dedede; /*margin-right:6px;*/
	overflow: auto;/*padding:6px;*/
	padding: 9px;
	/*-moz-border-radius: 0 10px 0 10px ;
	 -khtml-border-radius:  0 10px 0 10px ;
	 -webkit-border-radius:  0 10px 0 10px ;
	 border-radius:10px 0 10px 0;
	 box-shadow:3px 3px 4px #f3f3f3;
	 -moz-box-shadow:3px 3px 4px #f3f3f3 ;
	 -khtml-box-shadow:3px 3px 4px #f3f3f3 ;
	 -webkit-box-shadow:3px 3px 4px #f3f3f3 ;
	 border: 1px solid #e4e4e4;
	 background-color: #fff;*/

}
.bloc #last {
	margin-right: 0px;
	border-right: 0px;
}

.version {
	display: block;
	font-size: 110%;
	font-weight: bold; /*orange color:#ec7a09;*/
	color: #0b66d7;
	border: 0px solid red;
	margin-top: 6px;
}
.version img {
	float: left;
	border: 0px red solid;
	margin: -4px 6px 0 0;
}

.bloc_list {
	border: 0px solid red;
	overflow: auto;
	display: block;
	margin-bottom: 12px;
}
.bloc_list img {
	float: left;
	border: solid 1px #cdcdcd;
	margin: 5px 12px 0px 0;
	height: 80px
}
.bloc_list .pub_abstract {
	font-size: 80%;
	line-height: 110%;
	border: 0px green solid;
	display: block;
	color: grey;
}
.bloc_list .date {
	line-height: 140%;
	border: 0px red solid;
}

.about {
	padding-top: 3px;
	display: block;
}

/* FORM   ----*/
textarea {
	overflow: auto;
}

#pdbSelectForm {
	border: solid 0px #000000;
	text-align: center;
}

#pdbSelectForm select {
	font-size: 90%;
	color: #525252;
}

input.form_main_text_s, textarea.form_main_seq_s {
	width: 332px;
	padding: 0;
	border: 1px #abadb3 solid;
	font-family: Verdana, Helvetica, sans-serif;
	color: #525252;
	font-size: 110%;
}
input.form_main_text_s:focus, textarea.form_main_seq_s:focus {
	border: 1px #0092bf solid;
}

input.main_button {
	font-weight: bold;
	color: white;
	background: url(images/bgd_button.png) repeat-x;
	border: 1px solid #0072FE;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 2px 2px #adadad;
	-moz-box-shadow: 0px 2px 2px #adadad;
	-khtml-box-shadow: 0px 2px 2px #adadad;
	-webkit-box-shadow: 0px 2px 2px #adadad;
	padding: 2px;
	cursor: pointer;
}

input.main_button:hover {
	background: url(images/bgd_button_over.png) repeat-x;
	border: 1px solid #7637a2;
}

input.main_button:active {
	background: url(images/bgd_button_active.png) repeat-x;
	border: 1px solid #4c9cfe;
}

fieldset {
	padding: 0;
	border: solid 0px black;
}

div.topmenu {
	background: url(../../images/bgd_topmenu.png) repeat-x 0 0;
	box-shadow: 0px 4px 4px #f3f3f3;
	-moz-box-shadow: 0px 4px 4px #f3f3f3;
	-khtml-box-shadow: 0px 4px 4px #f3f3f3;
	-webkit-box-shadow: 0px 4px 4px #f3f3f3;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #a7a7a7;
	height: 30px;
	display: block;
	margin-bottom: 10px;
	font-size: 100%;
	min-width: 980px; /*Optimised for 1024 screen was 756px*/
}

div.topmenu div.form {
	background: url(../../images/bgd_search.png) no-repeat;
	float: right;
	width: 170px;
	height: 20px;
	border: solid 0px black;
	margin: 5px 12px 0 0;
	display: block;
}

div.topmenu input.field {
	float: left;
	background: none;
	border: solid 0px red;
	width: 114px;
	padding: 0px 0 0 10px;
	color: #7f7f7f;
	position: relative;
	height: 18px;
	font-size: 90%;
}

div.topmenu input.submit {
	float: left;
	background: url(../../images/magnifer.gif) no-repeat 4px 0;
	border: solid 0px black;
	display: inline;
	width: 16px;
	height: 13px;
	padding: 0;
	margin: 3px 12px 0 0px;
	cursor: pointer;
}

input.exp_tsv {
	background: url(../../images/ico_exp_tsv.png) no-repeat 0 0;
	width: 86px;
	height: 14px;
	border: solid 0px black;
	color: #6b6b6b;
	font-size: 100%;
	padding-left: 15px;
}

.help img {
	float: left;
	border: solid 0px black;
	padding: 2px 0 0 0;
}

.md_desc {
	float: left;
	border: solid 0px black;
	padding: 0 6px 20px 0;
}

.feat_list {
	line-height: 140%;
	margin-top: 10px;
	margin-bottom: 16px;
}

.feat_list span {
	margin-bottom: 10px;
	display: block;
}

/* from http://filamentgroup.com  wrapper divs */
.custom-checkbox, .custom-radio {
	position: relative;
}

/* input, label positioning */
.custom-checkbox input, .custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0;
}

.custom-checkbox label, .custom-radio label {
	display: block;
	position: relative;
	z-index: 1;
	font-size: 1.3em;
	padding-right: 1em;
	line-height: 1;
	padding: .5em 0 .5em 30px;
	margin: 0 0 .3em;
	cursor: pointer;
}

.custom-checkbox label {
	background: url(../../images/checkbox.gif) no-repeat;
}

.custom-radio label {
	background: url(../../images/radiobutton.gif) no-repeat;
}

.custom-checkbox label, .custom-radio label {
	background-position: -10px -14px;
}

.custom-checkbox label.hover, .custom-checkbox label.focus, .custom-radio label.hover, .custom-radio label.focus {
	background-position: -10px -114px;
}

.custom-checkbox label.checked, .custom-radio label.checked {
	background-position: -10px -214px;
}

.custom-checkbox label.checkedHover, .custom-checkbox label.checkedFocus {
	background-position: -10px -314px;
}
.custom-checkbox label.focus, .custom-radio label.focus {
	outline: 1px dotted #ccc;
}

/* TABLE   ----*/

table.stripe tr:nth-child(odd), table.result tr.alt td {
	background: #eff3f5
}

table td.ref {
	font-size: 100%;
	line-height: 140%;
}

table.form {
	padding: 4px;
	border: 0px solid red;
}

table.form td {
	vertical-align: top;
}

table.invisible_plus td {
	vertical-align: top;
	padding-bottom: 6px;
}

table.invisible td {
	border: none;
	vertical-align: top;
}

table.invisible td.sequence {
	font-size: 90%;
}

table.invisible td.sequence img {
	vertical-align: top;
}

table.compact-border {
	border: solid 1px #336666;
	border-collapse: collapse;
	width: 100%;
}

table.compact-border td {
	border: solid 1px #000000;
	padding: 2px;
}

th.left-label, td.left-label {
	font-weight: bold;
	background: #e0f0f0;
	border: solid 1px #000000;
	padding: 2px;
}

table.sm {
	width: 200px;
}
table.sm td {
	padding: 3px 3px;
}

/*table.result,table.caption,table.invisible, .pagination {width:786px;}*/

table.caption {
	border-collapse: collapse;
	margin: 9px 0 0 9px;
	border: solid 1px #eaeaea;
	font-size: 70%;
}

table.caption  td {
	padding: 3px 3px;
	vertical-align: top;
}

table.caption tr th {
	/*background: #c3c3c3;   */
}

table.result {
	/* width: 760px; */
	font-size: 70%;
	border-collapse: collapse;
	line-height: normal;
	margin-left: 9px;
}

table.result tr th {
	/*background:url(../../images/bgd_panel.gif) #f2f2f2 0 top;
	 color: #19375a;*/
	border: 1px solid #ccc;
	/*font-weight:      bold;*/
	vertical-align: top;
	height: 20px;
	/*padding:2px;*/
}

.tax-row img {
	vertical-align: middle;
}

td.number {
	text-align: center;
	width: 70px;
}

td.down {
	width: 40px;
}

/* LIST ----*/

ul, li {
	margin: 0 0 4px 0;
}
/*
 ul {
 padding-left: 15px;
 }
 */
.desc ul, .desc ol, .section ul, .section ol, ul.main_content, ol.main_content {
	padding: 6px 0 6px 40px;
	border: 0px solid black;
}

.box_fam ul {
	padding: 0;
}

.box_fam li {
	border: 0px solid black;
	list-style: none;
	padding-left: 16px;
	background: url(../../images/ico_type_family_small.png) no-repeat 0px 0px;
}

/* MENU  ----*/
/* Why using div?
 #left-nav ul{
 list-style: none;
 padding:0;
 margin: 0;
 }

 #left-nav li{
 list-style: none;
 padding:4px 2px 2px 4px;
 height: 26px;
 margin:0;
 }
 */

.left-menu {
	border: 0px solid green;
	display: block;
	width: 170px; /* was 180px - to gain some space even if domain organisation is falling on 2 lines */
	float: left;
}

.menu-filter {
	width: 148px;
	clear: left;
	float: left;
	display: block;
	border: 1px solid #d3d3d3;
	padding: 6px;
	font-size: 110%;
	background-color: #efefef;
}
.menu-filter H1 {
	color: #434343;
	font-size: 120%;
	font-weight: bold;
}
.menu-filter fieldset {
	padding-top: 12px;
}
.menu-filter fieldset label.view_all {
	padding-left: 19px;
	padding-top: 5px;
	background: url(../images/ico_type_all.png) no-repeat 0 2px;
	font-weight: bold;
}
.menu-filter div {
	margin-bottom: 10px;
}
.menu-filter div H1 {
	color: #2e5882;
	font-size: 110%;
	font-weight: bold;
	background-color: #f2f6f8;
	border: 1px solid #9eb6ce;
	padding: 4px 10px;
	margin: 0;
}
.menu-filter div H1, .menu-filter .menu-filter-type fieldset, .menu-filter .menu-filter-status fieldset, .menu-filter .menu-filter-colour fieldset {
	box-shadow: 0px 2px 2px #adadad;
	-moz-box-shadow: 0px 2px 2px #adadad;
	-khtml-box-shadow: 0px 2px 2px #adadad;
	-webkit-box-shadow: 0px 2px 2px #adadad;
}
.menu-filter div fieldset {
	border: 1px solid #d1d1d1;
	margin: 0;
}
.menu-filter .menu-filter-type div, .menu-filter .menu-filter-status div, .menu-filter .menu-filter-colour div {
	display: block;
}
.menu-filter .menu-filter-type fieldset, .menu-filter .menu-filter-status fieldset, .menu-filter .menu-filter-colour fieldset {
	background-color: #fff;
	padding: 6px 2px;
	border-top: 0;
	-moz-border-radius: 0 0 4px 4px;
	-khtml-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.menu-filter .menu-filter-type label, .menu-filter .menu-filter-status label {
	border: 0px green solid;
	padding-left: 19px;
	padding-top: 5px;
}
.menu-filter .menu-filter-type label.family {
	background: url(../images/ico_type_family.png) no-repeat 0 2px;
}
.menu-filter .menu-filter-type label.domains {
	background: url(../images/ico_type_domain.png) no-repeat 0 2px;
}
.menu-filter .menu-filter-type label.repeats {
	background: url(../images/ico_type_repeat.png) no-repeat 0 2px;
}
.menu-filter .menu-filter-type label.site {
	background: url(../images/ico_type_site.png) no-repeat 0 2px;
}
.menu-filter .menu-filter-status label.uni {
	background: url(../images/ico_type_uni.png) no-repeat 0 2px;
}
.menu-filter .menu-filter-colour {
	font-size: 80%;
}
.menu-filter .menu-filter-colour legend {
	font-size: 110%;
	font-weight: bold;
}
.menu-filter .menu-filter-colour fieldset {
	border-top: 1px solid #d1d1d1;
}

/* LINK  ----
 div.breadcrumbs .resize-box a {
 text-decoration: none;
 border: 1px solid #F6F6F6;
 background:none;
 height:20px;
 width:20px;
 padding:4px;

 }

 div.breadcrumbs .resize-box a:hover,div.breadcrumbs .resize-box a:active, div.breadcrumbs .resize-box a:focus  {
 border: 1px solid #E33E3E;
 color:#E33E3E;
 background-color:#cecece;
 text-decoration: none;
 }*/

.main_footer a, .main_footer a:link, .main_footer a:visited {
	text-decoration: none;
	color: #999;
}

.main_footer a:hover, .main_footer a:active, .main_footer a:focus {
	text-decoration: underline;
}

.menu_left a {
	padding: 0 10px;
}

a.topm, a.topm:link, a.topm:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
	border: 0px solid red;
	text-shadow: #858585 1px 1px 0px;
}

a.topm:hover, a.topm:active, a.topm:focus {
	text-decoration: none;
	text-shadow: #858585 -1px -1px 0px;
	background: url(../../images/ico_arrow_topmenu.png) no-repeat right 4px;
}

a.moredet {
	width: 16px;
	height: 16px;
	border: 1px solid #F6F6F6;
	display: block;
	background: url(../../images/ico_moredetail.png) no-repeat 2px 3px;
	text-decoration: none;
	box-shadow: 2px 2px 3px #f3f3f3;
	-moz-box-shadow: 2px 2px 3px #f3f3f3;
	-khtml-box-shadow: 2px 2px 3px #f3f3f3;
	-webkit-box-shadow: 2px 2px 3px #f3f3f3;
}

a.moredet:hover, a.moredet:active, a.moredet:focus {
	border: 1px solid #cecece;
	text-decoration: none;
	background: url(../../images/ico_moredetail.png) no-repeat #ececec;
}
a.download_f {
	width: 15px;
	height: 15px;
	border: 1px solid #F6F6F6;
	display: block;
	background: url(../../images/ico_down_fasta.png) no-repeat 1px 1px;
	text-decoration: none;
	box-shadow: 2px 2px 3px #f3f3f3;
	-moz-box-shadow: 2px 2px 3px #f3f3f3;
	-khtml-box-shadow: 2px 2px 3px #f3f3f3;
	-webkit-box-shadow: 2px 2px 3px #f3f3f3;
}

a.download_f:hover, a.download_f:active, a.download_f:focus {
	border: 1px solid #cecece;
	text-decoration: none;
	background: url(../../images/ico_down_fasta.png) no-repeat #ececec;
}

/* JQUERY Style   ----*/

span.jump-to {
	color: #54DF00;
	cursor: pointer;
	text-decoration: none;
}

.simpleSlide-slide div {
	width: 557px;
	height: 282px;
	position: relative;
}

.simpleSlide-window {
	border: 1px solid black;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* BUTTON   ----*/

.beta_feedback a {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 34px;
	width: 176px;
}

.beta_feedback a {
	background: url(../../images/button_feedback.png) no-repeat;
	border: 0px solid red;
}

.beta_feedback a:hover {
	background: url(../../images/button_feedback_on.png) no-repeat;
}

.beta_feedback a:active {
	background: url(../../images/button_feedback_active.png) no-repeat;
}

.backtop a {
	font-size: 85%;
	color: #999;
	background: url(../../images/ico_backtop.png) no-repeat 1px 1px;
	padding-left: 12px;
	padding-right: 4px;
	text-decoration: none;
}

.backtop a:hover {
	color: #626262;
	background: url(../../images/ico_backtop_on.png) no-repeat 1px 1px;
}

a.main_button {
	font-size: 100%;
	font-weight: bold;
	color: white;
	background: url(images/bgd_button.png) repeat-x;
	border: 1px solid #0072FE;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 2px 2px #adadad;
	-moz-box-shadow: 0px 2px 2px #adadad;
	-khtml-box-shadow: 0px 2px 2px #adadad;
	-webkit-box-shadow: 0px 2px 2px #adadad;
	padding: 4px;
	text-decoration: none;
}

a.main_button:hover {
	background: url(images/bgd_button_over.png) repeat-x;
	border: 1px solid #7637a2;
	color: white;
	text-decoration: none;
}

a.main_button:active {
	background: url(images/bgd_button_active.png) repeat-x;
	border: 1px solid #4c9cfe;
	color: white;
	text-decoration: none;
}
a.main_button:visited {
	color: white;
	text-decoration: none;
}

div.main_button a {
	font-size: 100%;
	font-weight: bold;
	color: white;
	background: url(images/bgd_button.png) repeat-x;
	border: 1px solid #7637a2;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 2px 2px #adadad;
	-moz-box-shadow: 0px 2px 2px #adadad;
	-khtml-box-shadow: 0px 2px 2px #adadad;
	-webkit-box-shadow: 0px 2px 2px #adadad;
	padding: 4px;
	text-decoration: none;
}

.main_button a:hover {
	background: url(images/bgd_button_over.png) repeat-x;
	border: 1px solid #0072FE;
	color: white;
	text-decoration: none;
}

.main_button a:active {
	background: url(images/bgd_button_active.png) repeat-x;
	border: 1px solid #4c9cfe;
	color: white;
	text-decoration: none;
}

.beta_menu {
	height: 45px;
	width: 45px;
	float: left;
	z-index: 100;
	border: 0px solid #dfa75a;
	margin: -6px 4px 0 8px;
	background: url(../../images/ico_beta.png) no-repeat;
}

.beta_link, .beta_back {
	position: absolute;
	right: 0;
	z-index: 100;
}

.beta_link a {
	background: url(../../images/rub_beta.png) no-repeat;
}

.beta_link a:hover, .beta_link a:active, .beta_link a:focus {
	background: url(../../images/rub_beta_on.png) no-repeat;
}

.beta_back a {
	background: url(../../images/rub_beta_back.png) no-repeat;
}

.beta_back a:hover, .beta_back a:active, .beta_back a:focus {
	background: url(../../images/rub_beta_back_on.png) no-repeat;
}

.beta_link a, .beta_back a {
	display: block;
	height: 123px;
	width: 123px;
}

.slide_nav {
	border: 1px solid #d4d4d4;
	height: 17px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#def {
	background: url(../../images/view_seq_def.png) no-repeat;
	height: 17px;
	width: 17px;
	margin-left: 12px;
}

#def:hover, #def:active, #def:focus {
	background: url(../../images/view_seq_un.png) no-repeat;
}

#tab {
	background: url(../../images/view_seq_tab.png) no-repeat;
	height: 17px;
	width: 17px;
	margin-left: 12px;
}

#arc {
	background: url(../../images/view_seq_arc.png) no-repeat;
	height: 17px;
	width: 17px;
	float: left;
	margin-left: 12px;
}

.export:hover, .export:active, .export:focus {
	border: 1px solid #77ace0;
	text-decoration: none;
	background: url(../../images/bgd_exp_grey_over.png) repeat-x bottom left;
	color: white;
}

div.pagination a, div.pagination a:link {
	text-decoration: none;
	font-family: Verdana, Helvetica, sans-serif;
	border: 0px solid #d4d4d4;
	margin-right: 6px;
	color: #525252;
}

.pagination a:hover, .pagination a:active, .pagination a:focus {
	border: 0px solid #d4d4d4;
}

.pagination a.nxt {
	padding: 0 14px 2px 2px;
	background: url(../../images/pag_next.png) no-repeat right;
}

.pagination a.nxt:hover, .pagination a.nxt:active, .pagination a.nxt:focus {
	background: url(../../images/pag_next_over.png) no-repeat right;
	color: black;
}

.pagination a.last {
	padding: 0 14px 2px 2px;
	background: url(../../images/pag_last.png) no-repeat right;
}
.pagination a.last:hover, .pagination a.last:active, .pagination a.last:focus {
	background: url(../../images/pag_last_over.png) no-repeat right;
	color: black;
}

.pagination a.pre {
	font-size: 11px;
	padding: 0 2px 2px 14px;
	background: url(../../images/pag_prev.png) no-repeat left;
}
.pagination a.pre:hover, .pagination a.pre:active, .pagination a.pre:focus {
	background: url(../../images/pag_prev_over.png) no-repeat left;
	color: black;
}

.pagination a.first {
	padding: 0 2px 2px 14px;
	background: url(../../images/pag_first.png) no-repeat left;
}
.pagination a.first:hover, .pagination a.first:active, .pagination a.first:focus {
	background: url(../../images/pag_first_over.png) no-repeat left;
	color: black;
}

.sep {
	border-left: 1px #9C9C9C solid;
	height: 10px;
	margin: 2px 6px 0 0;
	width: 1px;
}

/* TEXT/TITLE   ----*/

span.title_filter {
	color: black; /*Title filter*/
	font-size: 120%;
	padding-left: 6px;
	background: url(../../images/arrow.png) no-repeat 0 6px;
	border: 0px solid #BFBFBF;
	font-weight: normal;
	margin: 0;
}

span.title_form {  /*Title form homepage */
	font-weight: bold;
	font-size: 110%;
}

span.date { /* Title date release homepage */

	font-weight: bold;
}

.relationship {
	padding-left: 9px;
}

.relationship div {
	font-size: 100%; /* was 90% */
	padding: 0 0 4px 0;
}

.rc_header {
	color: #425ed1;
	font-size: 120%;
}

.box_fam .rc_header {
	color: #555555;
}

.shortname {
	color: #9c9c9c;
	font-style: italic;
	font-size: 100%;
}
.text-cont {/*color: #9c9c9c;*/
	padding-left: 9px;
}

.quote {
	color: #9c9c9c;
	font-style: italic;
	padding: 20px;
	font-size: 140%;
}

.Family_tab, .Protein_tab, .Domain_tab, .site_tab, .Repeat_tab, .PTM_tab, .Region_tab, .sign_uni_tab {
	color: #475e73;
	font-size: 130%;
	border-bottom: 0px solid #eaeaea;
	padding-left: 22px;
}

.Family_tab {
	color: #ec1d25;
	background: url(../../images/ico_type_family.png) no-repeat 0 6px;
}

.Protein_tab {
	color: #1897e9;
	background: url(../../images/ico_type_protein.png) no-repeat 0 6px;
}

.Domain_tab {
	color: #45b41a;
	background: url(../../images/ico_type_domain.png) no-repeat 0 6px;
}

.site_tab, .PTM_tab {
	color: #a336c6;
	background: url(../../images/ico_type_site.png) no-repeat 0 6px;
}
.Repeat_tab {
	color: #ff830a;
	background: url(../../images/ico_type_repeat.png) no-repeat 0 6px;
}
.Region_tab {
	color: #525252;
	background: none;
}
.sign_uni_tab {
	color: #525252;
	background: url(../../images/ico_type_uni.png) no-repeat 0 2px;
}

.sign ul {
	list-style-type: none;
}

.sign ul li div.Family {
	border: 1px solid #b20d0d;
	/* For WebKit */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,54,0,.9)), to(rgba(210,21,21,.9)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(255,54,0,.9), rgba(210,21,21,.9));
	/* For lt IE8 */
	filter: progid :DXImageTransform.Microsoft.gradient (gradientype=0,startColorstr='#ffff3600', endColorstr='#ffd21515');
	/* For gte IE8 */
	-ms-filter: progid :DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#ffff3600', endColorstr='#ffd21515');
}

.sign ul li div.Domain {
	border: 1px solid #36a30f;
	/* For WebKit */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(89,212,22,.9)), to(rgba(84,184,49,.9)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(89,212,22,.9), rgba(84,184,49,.9));
	/* For lt IE8 */
	filter: progid :DXImageTransform.Microsoft.gradient (gradientype=0,startColorstr='#ff59d416', endColorstr='#ff54b831');
	/* For gte IE8 */
	-ms-filter: progid :DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#ff59d416', endColorstr='#ff54b831');
}

.sign ul li div.site, .sign ul li div.PTM {
	border: 1px solid #630fa3;
	/* For WebKit */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(207,112,227,.9)), to(rgba(158,46,194,.9)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(207,112,227,.9), rgba(158,46,194,.9));
	/* For lt IE8 */
	filter: progid :DXImageTransform.Microsoft.gradient (gradientype=0,startColorstr='#ffcf70e3', endColorstr='#ff9e2ec2');
	/* For gte IE8 */
	-ms-filter: progid :DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#ffcf70e3', endColorstr='#ff9e2ec2');
}

.sign ul li div.Repeat {
	border: 1px solid #cb7e11;
	/* For WebKit */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,144,0,.9)), to(rgba(246,109,27,.9)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(255,144,0,.9), rgba(246,109,27,.9));
	/* For lt IE8 */
	filter: progid :DXImageTransform.Microsoft.gradient (gradientype=0,startColorstr='#ffff9000', endColorstr='#fff66d1b');
	/* For gte IE8 */
	-ms-filter: progid :DXImageTransform.Microsoft.gradient(gradientype=0,startColorstr='#ffff9000', endColorstr='#fff66d1b');
}

.sign ul li div {
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #cdcdcd;
	-moz-box-shadow: 1px 1px 2px #cdcdcd;
	-khtml-box-shadow: 1px 1px 2px #cdcdcd;
	-webkit-box-shadow: 1px 1px 2px #cdcdcd;
	float: left;
	height: 7px;
	width: 7px;
	margin: 3px 4px 0 -14px;
}

.biomart {
	background: url(../../images/biomart/logo_biomart.gif) no-repeat 100% 50%;
	padding: 0 13px 0 0;
}

td.ref-number {
	vertical-align: top;
}

td.ref {
	padding-bottom: 8px;
}

.pub-title {
	font-weight: bold;
}

.pub-name, .taxon {
	font-style: italic;
}

/* POPUP WINDOW   ----*/
iframe, html {
	background: none;
}

.popup {
	position: absolute;
	font-size: 90%;
	visibility: hidden;
	background: #fff url(../../images/banner_filler.png) repeat-x bottom;
	border: 1px solid #f0c78b;/*was grey #a9a9a9 */
	padding: 4px;
	font-weight: normal;
	text-align: left;
	color: black;
	z-index: 5;
	width: 300px;
	box-shadow: 3px 3px 4px #cfcfcf;
	-moz-box-shadow: 3px 3px 4px #cfcfcf;
	-khtml-box-shadow: 3px 3px 4px #cfcfcf;
	-webkit-box-shadow: 3px 3px 4px #cfcfcf;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.popup div.title {
	font-weight: bold;
	background: #ccf;
}

.popup .results {
	text-align: left;
	font-size: 60%;
	padding-left: 6px;
}

.popup .results ul {
	padding-left: 20px;
}

.popup .results h2 {
	color: black;
	background: none;
	border: 0;
	font-size: 110%;
	font-weight: bold;
	margin: 4px 0 0;
	padding: 0;
}

/* PAGINATION  ----*/

.pagination {
	font-size: 85%;
	border: 0px solid red;
	height: 14px;
	margin: 12px 0 4px 0;
	padding-left: 9px;/*clear:both;*/
}

.pag-left {
	float: left;
}

.pag-cent {

	padding-right: 1px;
	border: 0px solid black;
	display: inline;
}

.pag-cent div {
	float: right;
}

.pag-off {
	float: right;
	color: #9C9C9C;
}

/* TREE  ----*/

div.entry-current {
	padding-left: 16px;
	background: url(../../images/ico_tree.png) no-repeat 1px 2px;
	font-weight: bold;
}

div.entry-child {
	background: url(../../images/ico_tree.png) no-repeat 1px 2px;
	padding-left: 16px;
	margin-left: 16px;
}

div.entry-parent-prot {
	padding-left: 26px;
	border: 0px solid red;
	background: url(../../images/ico_tree_family.png) no-repeat 0 0;
}

div.entry-child-prot {
	padding-left: 28px;
	background: none;
}

.collapsed, .expanded {
	float: left;
	width: 9px;
	height: 9px;
	border: 0px solid #F6F6F6;
	display: block;
	text-decoration: none;
	margin: 0 6px 0 0;
}

.collapsed {
	background: url(../../images/close.gif) no-repeat;
}

.expanded {
	background: url(../../images/open.gif) no-repeat;
}

.loading {
	background: url(../../images/background_01.gif) no-repeat;
}

/* CUSTOM BIOJS STYLE --------------------------------------------------------- */

div#example {
	width: 715px;
	height: 400px;
	margin: auto;
	background: url(images/background_01.gif);
	overflow: auto;
	margin: 20px 0 0 20px;
}

#twtr-widget-1 div.twtr-hd a, #twtr-widget-1 div.twtr-hd h2, #twtr-widget-1 div.twtr-hd h3 {
	display: none;
}

#twtr-widget-1 div.twtr-hd {
	padding: 1px;
}

#tabmenu {
	float: left;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #AF8953;
	overflow: hidden;
	position: relative;
}

#tabmenu .title {
	margin: 0px;
	top: 30px;
	position: relative;
	float: left;
}

#tabmenu ul li a.selected {
	background: #EBA645;
	color: #fff;
}

#tabmenu ul {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}
#tabmenu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 7px;
}
#tabmenu ul li a {
	display: block;
	margin: 0 0 0 7px;
	padding: 3px 10px;
	background: #ddd;
	color: #000;
	text-decoration: none;
	line-height: 1.3em;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#tabmenu ul li a:hover {
	background: #369;
	color: #fff;
}
#tabmenu ul li a.active, #tabmenu ul li a.active:hover {
	color: #fff;
	background: #000;
	font-weight: bold;
}




#local-footer div{
	text-align: center;
	font-size: 0.75em;
	background-color:#EEEEEE;
}

.componentsLink{
	font-size:24pt;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
}

.biojsColumn {
	margin-bottom: 30px;
}

div.viewLinks{
	text-align:right;
	margin-right: 15px;
	margin-top: 8px;
}

div.twtr-ft div a {
	display:none;
}

div.twtr-ft div span {
	display:none;
}
#biojsExample{
	text-align:center;
}

.biojsLocalTitle{
	margin: 20px;
	color: #FFFFFF; 
}

.dataTables_filter{
	top:0px;
	left: 760px;
	background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.dataTables_scroll {
    clear: both;
    position: relative;
    top: 50px;
}

.dataTables_wrapper {
    position: relative;
    top: -50px;
}

.dataTables_filter label {
    color: #000000;
    margin: 3px;
}

.dataTables_filter input {
    border-radius: 0;
    padding: 4px;
}

.dataTables_paginate{
    position: relative;
    top: 60px;	
}


.dataTables_info {
    position: relative;
    top: 50px;
}
#biojsTable{
	margin:10px;
}
