.tnt_tree_node .absent {
    fill: none;
    stroke: none;
    stroke-width: none;
}
.tnt_tree_node .dubious {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.tnt_tree_node .present {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
}
text.tnt_tree_label {
    font-size: 12px;
    fill: #000;
}
.tnt_tree_link {
    fill: none;
    /* stroke: #ccc; */
    stroke-width: 1.5px;
}
.tnt_tree_link .present {
    stroke: "000";
}
.tnt_tree_link .dubious {
    stroke: "ccc";
}
.tnt_tree_link .absent {
    stroke: "fff";
}
.tnt_tree_container {
    /* float : left; */
    display: inline-block;
    vertical-align: top;
}
.tnt_annot_container {
    /* float: right; */
    display: inline-block;
    vertical-align: top;
}
body {
    font-size: 100%;
}
svg text {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    cursor: default;
}
.tnt_groupDiv {
    position: relative;
    margin: 0px 3px 5px 3px;
}
rect.tnt_pane {
    cursor: move;
    opacity: 0;
    pointer-events: all;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
rect.tnt_dark_pane {
    opacity: 0.4;
}
text.tnt_wideOK_text {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2em;
    cursor: move;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
text.tnt_tooWide_text {
    opacity: 1;
}
.tnt_gene {
    filter: alpha(opacity=0.6);
    # opacity: 0.6;
}
div .tnt_gene_info {
    display: block;
    position: absolute;
    top: 0px;
    opacity: 0;
    background-color: #FFFFFF;
    font-size: 12px;
}
div .tnt_gene_info h1 {
    font-size: 30px;
}
div .tnt_gene_info .link {
    color: blue;
}
div .tnt_gene_info .link:hover {
    cursor: pointer;
}
div .tnt_gene_info_active {
    opacity: 1;
    z-index: 1001;
}
.tnt_zmenu {
    font-size: 10px;
    width: 180px;
    border-style: solid;
    border-collapse: collapse;
}
.tnt_zmenu th,
.tnt_zmenu td {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    white-space: normal;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
}
.tnt_zmenu th {
    cursor: move;
}
.tnt_zmenu th:active {
    cursor: move;
}
.tick text {
    font-size: 10px;
}
.tnt_locRow {
    margin: 8px 0px 5px 5px;
}
.tnt_locRow span {
    font-size: 12px;
}
.tnt_name {
    font-size: 14px;
}
.tnt_framed {
    border: 2px solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}